---
import "../style/global.css";
import Layout from "../layouts/Layout.astro";

import PrimaryButton from "../components/Primary_button.astro";
import SecondaryButton from "../components/Secondary_button.astro";
import CardAbonnement from "../components/Card_abonnement.astro";
import ProgressBarAbonnementMobil from "../components/Progress_bar_abonnement_mobil.astro";
import Checkbox from "../components/Checkbox.astro";
import ProgressBarKurvMobil from "../components/Progress_bar_kurv_mobil.astro";
import RadioButton from "../components/Radio_button.astro";
import Stepguide from "../components/Stepguide.astro";
import ProgressBarCard from "../components/Progress_bar_card.astro";
import Footer from "../components/Footer.astro";
import Cards from "../components/Cards.astro";
import Navigation from "../components/Navigation.astro";
import Login from "../components/Login.astro";
import Dropdown from "../components/Dropdown.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orienta&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
  </head>

  <Navigation />
  <div>
    <a href="/abonnement-page">abonnement</a>
  </div>
  <section>
    <article class="">
      <div class="hero">
        
         
        <img class="illustration" src="/img/logo/bb_ill_sol.png" alt="">
      </div>
      
    
    </article>
  </section>

  


  


</html>
<style>

.hero {
  background-image: url("/img/hero_billede.webp");
  
}
  .overlay {
    background-color: black;
    filter: opacity(0.8);
  }
  .illustration {
    position: absolute;
    left: 0%;
    top: 0%;

    
    

  }
 
</style>