---
import "../style/global.css";

const { spand, size, pris, variant } = Astro.props;
---

<article data-variant={variant}>
  <div class="img_wrapper">
    <img src="/img/abonnement_filler.webp" alt="" />
  </div>
  <div class="info_wrapper">
    <p class="spand">{spand}</p>
    <div class="info">
      <p>{size}</p>
      <p>{pris}</p>
    </div>
  </div>
</article>

<style>
  article {
    border: solid 2px black;
    max-width: 142px;
    border-radius: var(--xs-radius);
  }
  img {
    max-width: 142px;
    max-height: 184.49px;
  }
  .info_wrapper {
    background-color: var(--rust-100);
    font-family: var(--font-body);
    font-size: var(--abonnement-text-info);
    border-top: 2px solid black;
    padding: 5px;
  }
  .spand {
    font-size: var(--abonnement-text-spand);
    color: rgba(0, 0, 0, 0.501);
  }
  .info {
    display: flex;
    justify-content: space-between;
  }
</style>
