---
import "../style/global.css";

const {

} = Astro.props;
---

<article>
    <label for="">
        <input type="checkbox">
    </label>
</article>

<style>
    input[type="checkbox"] {
        margin: 0;
  font-size: var(--body-mobile);
  accent-color: #ffffff;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid black;
  border-radius: 50%;
    }
</style>

