---
import "../style/global.css";
const { variant } = Astro.props;
---

<article data-variant={variant}>
  <section class="butikker">
    <h4>BUTIKKER</h4>
    <div>
      <p>Strandvejen 167</p>
      <p>2900 Hellerup</p>
      <p>Danmark</p>
      <p>
        <a href="tel:+4539629059"></a>
        Tlf.: +45 39 62 90 59
      </p>
    </div>

    <div>
      <p>Gunnar Nu Hansens Pl. 6</p>
      <p>2100 København Ø</p>
      <p>Danmark</p>
      <p><a href="tel:+4536260700"></a>Tlf.: +45 36 26 07 00</p>
    </div>

    <div>
      <p>Værnedamsvej 4A st.</p>
      <p>1619 København V</p>
      <p>Danmark</p>
      <p><a href="tel:+4526117006"></a>Tlf.: +45 26 11 70 06</p>
    </div>
  </section>

  <section class="informationer">
    <h4>INFORMATIONER</h4>
    <div>
      <a href="#">Om os</a>
    </div>
    <div>
      <a href="#">Kontakt os</a>
    </div>
    <div>
      <a href="#">Sitemap</a>
    </div>
  </section>

  <section class="abningstider">
    <h4>ÅBNINGSTIDER</h4>
    <div class="tider">
      <div>
        <p>Mandag</p>
        <p>Tirsdag</p>
        <p>Onsdag</p>
        <p>Torsdag</p>
        <p>Fredag</p>
        <p>Lørdag</p>
        <p>Søndag</p>
      </div>
      <div>
        <p>10 - 18</p>
        <p>10 - 18</p>
        <p>10 - 18</p>
        <p>10 - 18</p>
        <p>10 - 18</p>
        <p>10 - 15</p>
        <p>11 - 16</p>
      </div>
    </div>
  </section>

  <section class="folgosher">
    <h4>FØLG OS HER</h4>
    <div>
      <svg width="40" height="40" viewBox="0 0 24 24"
        ><path
          fill="#fffdf9"
          d="M12 9a3 3 0 1 0 0 6a3 3 0 0 0 0-6zm0-2a5 5 0 1 1 0 10a5 5 0 0 1 0-10zm6.5-.25a1.25 1.25 0 0 1-2.5 0a1.25 1.25 0 0 1 2.5 0zM12 4c-2.474 0-2.878.007-4.029.058c-.784.037-1.31.142-1.798.332a2.886 2.886 0 0 0-1.08.703a2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.006 9.075 4 9.461 4 12c0 2.474.007 2.878.058 4.029c.037.783.142 1.31.331 1.797c.17.435.37.748.702 1.08c.337.336.65.537 1.08.703c.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.474 0 2.878-.007 4.029-.058c.782-.037 1.309-.142 1.797-.331a2.92 2.92 0 0 0 1.08-.702c.337-.337.538-.65.704-1.08c.19-.493.296-1.02.332-1.8c.052-1.104.058-1.49.058-4.029c0-2.474-.007-2.878-.058-4.029c-.037-.782-.142-1.31-.332-1.798a2.911 2.911 0 0 0-.703-1.08a2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.925 4.006 14.539 4 12 4zm0-2c2.717 0 3.056.01 4.122.06c1.065.05 1.79.217 2.428.465c.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.047 1.066.06 1.405.06 4.122c0 2.717-.01 3.056-.06 4.122c-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772a4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465c-1.066.047-1.405.06-4.122.06c-2.717 0-3.056-.01-4.122-.06c-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153a4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122c.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2z"
        ></path>
      </svg>
    </div>
    <div>
      <svg width="40" height="40" viewBox="0 0 1000 1000"
        ><path
          fill="#fffdf9"
          d="M182.594 0C81.445 0 0 81.445 0 182.594v634.813c0 101.149 81.445 182.594 182.594 182.594h344.063V609.063H423.282v-140.75h103.375v-120.25c0-94.475 61.079-181.219 201.781-181.219c56.968 0 99.094 5.469 99.094 5.469l-3.313 131.438s-42.963-.406-89.844-.406c-50.739 0-58.875 23.378-58.875 62.188v102.781h152.75l-6.656 140.75H675.5v390.938h141.906c101.149 0 182.594-81.445 182.594-182.594V182.595C1000 81.446 918.555.001 817.406.001H182.593z"
        ></path>
      </svg>
    </div>
  </section>

  <section class="nederst">
    <p>CVR: 35649328</p>
    <a href="#">Cookiepolitik</a>
    <a href="#">Privatlivspolitik</a>
    <a href="#">Handelsbetingelser</a>
  </section>
</article>

<style>
  article {
    background-color: var(--footer-background1);
    width: var(--size);
    padding-top: var(--xl-spacing-mobile);
  }

  .butikker,
  .informationer,
  .abningstider {
    display: grid;
    gap: var(--l-spacing-mobile);
  }

  .tider {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .butikker,
  .informationer,
  .abningstider,
  .folgosher {
    padding-bottom: var(--xxl-spacing-mobile);
  }

  article p,
  article a,
  article h4 {
    color: var(--background-color);
    font-family: var(--font-body);
    font-size: var(--body-mobile);
  }

  .nederst {
    background-color: var(--footer-background2);
  }
</style>
