---
import "../style/global.css";

const { variant } = Astro.props;
---

<article>
  <section class="navigation_mobil">
    <div>
      <button>
        <img class="logo_mobil" src="/img/logo/bb_logo_kort.png" alt="" />
      </button>
    </div>
    <div class="burger">
      <button class="toggle-btn">
        <img class="burger_ikon" src="/img/burger_menu.svg" alt="" />
      </button>
    </div>
  </section>
</article>

<style>
  img {
    width: 75px;
  }

  button {
    background-color: var(--background-color);
    border: none;
  }

  .burger_ikon {
    width: 40px;
    height: 40px;
  }
  .navigation_mobil {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 96px;

    align-items: center;
    padding-left: 27px;
    padding-right: 27px;
  }
</style>
<!-- <script>
  const btn = document.querySelector(".toggle-btn");
  const nav = document.querySelector("nav");

  function toggleMenu() {
    nav.classList.toggle("shown");
    const menuShown = nav.classList.contains("shown");
    if (menuShown) {
      btn.textContent = "✕";
    } else {
      btn.textContent = "☰";
    }
  }

  btn.addEventListener("click", toggleMenu);
</script> -->
