---
import "../style/global.css";
const { variant } = Astro.props;
---

<button data-variant={variant}>Text</button>

<style>
  button {
    background-color: var(--color-primary-button-background);
    color: var(--color-primary-button-text);
  }
  [data-variant="button_primary_hover"] {
    background-color: var(--color-primary-button-hover-background);
  }
</style>
