---
import "../style/global.css";
const { variant, knaptext } = Astro.props;
---

<button data-variant={variant}>{knaptext}</button>

<style>
  button {
    background-color: var(--color-primary-button-background);
    color: var(--color-primary-button-text);
    font-family: var(--button-text);
    font-weight: var(--font-weight-semibold);
    font-size: var(--button-mobile);
    padding: 15px 40px;
    border: none;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: var(--xs-radius);
    max-width: 50%;
    height: 60%;
    gap: 10px;
  }
  button:hover {
    background-color: var(--color-primary-button-hover-background);
  }
  @media (min-width: 900px) {
    button {
      font-size: var(--button-desktop);
      padding: 15px 60px;
      
height: 56px;
    }
  }
</style>
