---
import "../style/global.css";
const { variant } = Astro.props;
---

<article data-variant={variant}>
  <div class="step1"></div>
  <div class="step2"></div>
  <div class="step3"></div>
  <div class="step4"></div>
</article>

<style>
  article {
    display: flex;
    gap: 10px;
  }
  div {
    width: 50px;
    height: 5px;
    border: var(--rust-500) 1px solid;
  }
  /* step 1  */
  [data-variant="progress_bar_card_step_1"] .step1 {
    background-color: var(--rust-500);
  }

  /* step 2 */
  [data-variant="progress_bar_card_step_2"] .step2 {
    background-color: var(--rust-500);
  }

  /* step 3 */

  [data-variant="progress_bar_card_step_3"] .step3 {
    background-color: var(--rust-500);
  }

  /* step 4 */

  [data-variant="progress_bar_card_step_4"] .step4 {
    background-color: var(--rust-500);
  }
</style>
