---
import "../style/global.css";
import ProgressBarCard from "../components/Progress_bar_card.astro";
const {
  variant,
  overskrift,
  tekst,
  icon = "blomst",
  progress_variant = "progress_bar_card_step_1",
} = Astro.props;
---

<article data-variant={variant}>
  <div class="ikon">
    <img src={`/img/${icon}_ikon.svg`} alt="" />
  </div>
  <div class="info">
    <div><h4>{overskrift}</h4></div>
    <div>
      <p>{tekst}</p>
    </div>
  </div>
  <div class="progress">
    <div>
      <ProgressBarCard />
    </div>
  </div>
</article>

<style>
  article {
    background-color: var(--regnorm-100);
    border: 2px solid black;
    width: 280px;

    border-radius: var(--xs-radius);
    padding: var(--l-spacing-mobile);
  }
  .ikon {
    display: grid;
    justify-content: center;
    padding-top: var(--l-spacing-mobile);
  }
  img {
    width: 80px;
    height: 80px;
  }

  h4 {
    font-family: var(--other-headings);
    font-size: var(--h4-mobile);
    padding-top: var(--l-spacing-mobile);
    padding-bottom: var(--l-spacing-mobile);
  }
  p {
    font-family: var(--font-body);
    font-size: var(--body-mobile);
    padding-bottom: var(--l-spacing-mobile);
  }
  .progress {
    display: grid;
    place-content: center;
  }

  /* DESKTOP */

  @media (min-width: 900px) {
    article {
      display: flex;
      width: 550px;
      height: 300px;
      padding: var(--l-spacing-desktop);
    }
    .ikon {
      display: flex;
      place-items: center;
    }
    img {
      width: 100px;
      height: 100px;
    }
    h4 {
      font-size: var(--h4-desktop);
      padding-top: var(--xl-spacing-desktop);
      padding-bottom: var(--l-spacing-desktop);
    }
    p {
      font-size: var(--body-desktop);
      padding-left: var(--l-spacing-desktop);
    }
    .progress {
      display: none;
    }
  }
</style>
